<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- 配列の場合、v-forの第2引数はindex -->
            <li v-for="(fruit, index) in fruits">({{ index }}){{ fruit }}</li>
        </ul>
        <ul>
            <!-- オブジェクトの場合、v-forの第2引数はキー、第3引数はindex -->
            <li v-for="value in objects">{{ value }}</li>
            <li v-for="(value, key, index) in objects">({{ index }}){{key}}-{{ value }}</li>
        </ul>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                fruits: ['りんご', 'バナナ', 'ぶどう'],
                objects: {
                    firstName: '太郎',
                    lastName: '田中',
                    age: 21
                }
            }
        })
    </script>
</body>

</html>